@import "compass/reset";
@import "compass/css3";

$font-ST: "\5B8B\4F53";
$font-yahei: "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1";
$font-arial: "Arial";

$bgColor: #66C858;
$borderColor: #19AD8C;

body {
    font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
    text-decoration: none;
}

body {
    font-size: 16px;
}

.hxy-nav {
    border: 1px solid;
    border-top: 7px solid $borderColor;
    padding: 15px 20px 0px;
    border-bottom: 7px solid $borderColor;
    text-align: center;

    .hxy-logo {
        font-size: 33px;
        margin-top: 10px;
        color: #19AD8C;
    }

    ul.hxy-ul {
        position: absolute;
        top: 10px;
        right: 20px;
        >li {
            display: inline-block;
        }
    }

    .hxy-login,.hxy-register {
        display: inline-block;
    }

    .zf-logout,.zf-account {
        cursor: pointer;
    }

    .hxy-search {
        float: right;
        position: relative;

        input{
            width: 90px;
            padding-left: 10px;
            padding-top: 3px;
            border: 0px;
            border-left: 1px solid rgb(234, 234, 234);
            transition:0.8s cubic-bezier(.84,-0.37,.79,1.41);
        }

        input:hover::-webkit-input-placeholder{
            color: #19AD8C;
        }

        input:focus{
            width: 150px;
        }
    }

    span.glyphicon.glyphicon-search {
        position: absolute;
        right: 4px;
        top: 5px;
    }
}

.hxy-content {
    .breadcrumb {
        font-size: 13px;
        background: #fff;
        margin: 5px 10px;
    }

    .hxy-subnav {
        margin: auto;
        width: 60%;
        min-width: 400px;

        .hxy-subcontent {
            border: 1px solid #DDDDDD;
            min-height: 100px;
            border-top: none;
            padding: 70px 0;

            #main_login {
                margin: auto;
                width: 271px;

                .user{
                    margin-bottom: 26px;
                    position: relative;

                    input{
                        width: 250px;
                        margin-left: 5px;
                        display: inline-block;
                        vertical-align: middle;
                    }

                    .tip{
                        position: absolute;
                        top: 39px;
                        left: 30px;
                        color: red;
                    }
                }

                .password {
                    position: relative;
                    margin-bottom: 26px;

                    input {
                        width: 250px;
                        display: inline-block;
                        margin-left: 5px;
                        vertical-align: middle;
                    }

                    .tip {
                        position: absolute;
                        top: 39px;
                        left: 30px;
                        color: red;
                    }
                }

                .red {
                    input.ng-invalid.ng-touched{
                        border-color: red;
                    }
                }

                .redUntouched {
                    input .ng-untouched {
                        border-color: red;
                    }
                }
            }

            #main_register{
                margin: auto;
                width: 271px;
                .user{
                    margin-bottom: 26px;
                    position: relative;
                    input{
                        width: 250px;
                        margin-left: 5px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                    .required{
                        position: absolute;
                        left: -8px;
                        top: 2px;
                        color: red;
                    }
                    .tip{
                        position: absolute;
                        top: 39px;
                        left: 30px;
                        color: red;
                    }
                }
                .password{
                    position: relative;
                    margin-bottom: 26px;
                    input{
                        width: 250px;
                        display: inline-block;
                        margin-left: 5px;
                        vertical-align: middle;
                    }
                    .required{
                        position: absolute;
                        left: -8px;
                        top: 2px;
                        color: red;
                    }
                    .tip{
                        position: absolute;
                        top: 39px;
                        left: 30px;
                        color: red;
                    }
                }
                .red{
                    input.ng-invalid.ng-touched{
                        border-color: red;
                    }
                }
                .redEnsured{
                    input.ng-touched{
                        border-color: red;
                    }
                }
                .redUntouched{
                    input.ng-untouched{
                        border-color: red;
                    }
                }
                .redSame{
                    input{
                        border-color: red;
                    }
                }
            }
                #check{
                    margin-bottom: 26px;
                    width: 543px;
                    input{
                        width: 150px;
                        display: inline-block;
                        margin-left: 21px;
                        vertical-align: middle;
                    }
                    img{
                        display: inline-block;
                        height: 32px;
                        width: 100px;
                        background-color: black;
                        vertical-align: middle;
                    }
                }
                #button{
                    margin-bottom: 26px;
                    text-align: center;
                    float: right;
                }
            }

        .tab-content {
            border: 1px solid #ddd;
            border-top: none;
            text-align: center;
            padding: 40px;

            ul {
                li {
                    display: inline-block;
                }
                a {
                    display: inline-block;
                    padding: 5px 15px;
                    margin: 0 10px;
                    border: 1px solid;
                }
                .active {
                    background: black;
                    color: white;
                }
            }
        }
    }

    .zf-subnav {
        margin: auto;
        width: 60%;
        min-width: 400px;

        .tab-content {
            border: 1px solid #ddd;
            text-align: center;
            padding: 40px;

            ul {

                li {
                    display: inline-block;
                    border-radius: 3px;
                }

                a {
                    display: inline-block;
                    padding: 5px 15px;
                    margin: 10px 10px;
                    border: 1px solid;
                    border-radius: 3px;
                    cursor: pointer;
                }

                .active {
                    background: black;
                    color: white;
                }

            }

        }

    }

    .direct {
        margin: auto;
        width: 50px;
        height: 50px;
        text-align: center;
        font-size: 50px;
    }


    .hxy-recommand {
        border: 1px solid #DDDDDD;
        width: 60%;
        min-width: 400px;
        min-height: 200px;
        margin: 50px auto;
    }

    h2 {
        font-size: 25px;
    }

    .hxy-maincontent {
        text-align: center;
        width: 80%;
        margin: 0 auto;
        padding: 10px;
        min-height: 300px;

        .hxy-row {
            margin: 0 auto;
        }

        .hxy-thumbnail {
            border: none;
            width: 210px;
            border: 2px solid #fff;
            &:hover {
                border: 2px solid #33C1FF;
                cursor: pointer;
            }
        }

        .hxy-caption {
            border: 1px solid #dddddd;
        }

        .hxy-brief {
            white-space: nowrap;
            width: 190px;
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 10px auto;
            font-size: 13px;
        }
    }

    nav {
        text-align: center;
    }
}

.hxy-intro {
    width: 80%;
    margin: 30px auto;
    border: 2px solid #ddd;

    img {
        width: 18%;
        height: 210px;
    }
}

.hxy-label {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  ul {
    line-height: 2;
  }
}

h4.title {
  font-size: 30px;
  margin: 16px;
}

.hxy-constitution {
  display: inline-block;
  vertical-align: top;
  float: right;
  margin: 10px 20px;
  width: 20%;
  span {
    display: inline-block;
    margin: 8px 5px;
  }
}

.hxy-fooddetail {
  border: 1px solid #ddd;
  min-height: 300px;
  width: 80%;
  margin: 20px auto;
  position:relative;
}

.hxy-title {
  border: 1px solid;
  padding: 10px 20px;
  position: absolute;
  top: -20px;
  left: 43%;
  text-align: center;
  color: #fff;
  background-color: $borderColor;
  font-size: 20px;
}

.hxy-detail {
    margin: 35px;

    h3 {
        font-size: 18px;
        color: #CC0000;
    }

    p, ul {
        font-size: 16px;
        line-height: 1.5;
        width: 94%;
        margin: 0 auto;
    }
}

.zf-detail {
    margin: auto auto;
    padding: 0 20px;
    width: 1200px;

    #detail-title {
        color: #19AD8C;
        padding: 30px 0;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
    }

    #detail-main {
        margin: 20px 30px;
        border-width: 2px;
        border-color: #ddd;
        border-radius: 4px 4px 0 0;
        border-style: solid;

        .detail-nav {
            border-bottom-width: 2px;
            border-color: #dddddd;
            border-bottom-style: solid;
            .back {
                font-size: 30px;
                padding: 0 30px;
            }
            .zf-nav {
                display: inline-block;
                margin: -13px 0px;
            }
        }
        .detail-content {
            padding: 20px 100px;
            .piece{
                padding: 10px 28px;
                .piece-left{
                    display: inline-block;
                    vertical-align: top;
                    width: 100px;
                    text-align: right;
                    line-height: 34px;
                }
                .piece-right{
                    display: inline-block;
                    width: 500px;
                    .other-piece{
                        display: inline-block;
                        width: 100px;
                    }
                    .piece-right-right-position{
                        position: relative;
                        .other-piece-textarea{
                            display: inline-block;
                            width: 500px;
                        }
                        .piece-right-right{
                            position: absolute;
                            display: inline-block;
                            right: -125px;
                            top: 8px;
                        }
                    }
                    .other-piece-img{
                        display: inline-block;
                        vertical-align: sub;
                        width: 50px;
                        line-height: 34px;
                    }
                }
            }
        }
    }
}

#zf-main{
    margin: auto auto;
    padding: 0 20px;
    width: 1250px;
    #zf-title{
        margin: 30px auto 60px auto;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }

    #personal-slider {

        .scrollable {
            width: 1000px;
            margin: 0 auto 55px auto;
            padding: 0;
            border: 10px solid #fff;
            background: #000;
            position: relative;
            overflow: hidden;
            text-align: center;
            position: relative;
        }

        .left {
            position: absolute;
            width: 20px;
            height: 100%;
            left: 0px;
            top: 0px;
            background: rgba(221, 221, 221, 0.5);
        }

        .left:hover {
            background: rgba(255, 255, 255, 0.5);
        }

        .left:hover ~ .right ~ .items {
            animation-direction: reverse;
            animation-duration: 5s;
            -webkit-animation-direction: reverse;
            -webkit-animation-duration: 5s;
        }

        .right {
            position: absolute;
            width: 20px;
            height: 100%;
            left: 962px;
            top: 0px;
            background: rgba(221, 221, 221, 0.5);
        }

        .right:hover {
            background: rgba(255, 255, 255, 0.5);
        }

        .right:hover ~ .items {
            animation-duration: 5s;
            -webkit-animation-duration: 5s;
        }

        img {
            max-width: 500px;
            margin: 0;
            float: left;
            display: inline-block;
        }

        .items {
            width: 2000px;
            -webkit-animation: hscroll 8s infinite;
            -moz-animation: hscroll 8s infinite;
            -ms-animation: hscroll 8s infinite;
        }

        .items:hover {
            -webkit-animation-play-state: paused;
            -moz-animation-play-state: paused;
            -ms-animation-play-state: paused;
            animation-play-state: paused;
        }


    }

    #zf-ppt{
        margin: auto auto;
        width: 1000px;
        #zf-ppt-title{
            border-right: 400px solid #ddd;
            border-left: 400px solid #ddd;
            line-height: 3px;
            text-align: center;
            font-weight: bold;
            font-size: -webkit-xxx-large;
        }
        #zf-ppt-main{
            border-right: 3px solid #ddd;
            border-left: 3px solid #ddd;
            border-bottom: 3px solid #ddd;
            padding: 25px 25px;
            text-align: center;
            .zf-ppt-slider{
                 width: 100%;
                 height: 400px;
                  position: relative;
                  .zf-ppt-slider-main{
                    width: 100%;
                    height: 400px;
                    position: relative;
                    overflow: hidden;
                    .zf-ppt-slider-main-i{
                        width: 100%;
                        height: 400px;
                        position:absolute;
                        opacity: 0;
                        right: 50%;
                        top: 0;
                        -webkit-transition:all 1s;
                        img{
                            width: 100%;
                            position: absolute;
                              left: 0;
                              top: 50%;
                              z-index: 1;
                        }
                    }
                    .zf-ppt-slider-main-i-active{
                          opacity: 1;
                          right: 0;
                    }
                }
                .zf-ppt-slider-ctrl{
                      width: 100%;
                      height: 10px;
                      line-height: 10px;
                      text-align: center;
                      position: absolute;
                      left: 0;
                      bottom: -10px;
                      background-color: rgba(221, 221, 221, 0.35);
                      .zf-ppt-slider-ctrl-i{
                          display: inline-block;
                          position: relative;
                          width: 100px;
                          height: 10px;
                          background-color: #FFC1C1;
                          img{
                              width: 100%;
                             position: absolute;
                              bottom: 50px;
                              left: 0;
                              z-index: 1;
                              opacity: 0;
                              -webkit-transition:all 0.5s;
                        }
                    }
                    .zf-ppt-slider-ctrl-i:hover{
                          background-color: #337ab7;/*#DDD000*/
                          img{
                              bottom: 10px;
                              -webkit-box-reflect:below 0px -webkit-gradient(
                                linear,
                                left top,
                                left bottom,
                                from(transparent),
                                color-stop(50%,transparent),
                                to(rgba(255,255,255,0.3))
                              );
                              opacity: 1;
                        }
                    }
                    .zf-ppt-slider-ctrl-i-active{
                          background-color: #19AD8C;
                          img{
                              opacity: 0;
                        }
                    }
                }
            }
        }
    }
    .zf-more{
        margin: 30px auto;
        .zf-more-title{
            color: #337ab7;
            border-bottom: 2px solid #FFC1C1;
            .zf-more-title-right{
                float: right;
            }
        }
        .zf-more-main{
            margin: 10px auto;
        }
    }
}

#zf-healthCenter {
    margin:auto auto;
    padding: 0 20px;
    width: 1250px;

    .zf-title {
        text-align: center;
        color: #19AD8C;
        padding: 30px 0;
        font-weight: bold;
        font-size: 30px;
    }

    .zf-main {
        margin: 20px auto;
        border-width: 2px;
        border-color: #dddddd;
        border-radius: 4px 4px 0 0;
        border-style: solid;
        position: relative;

        .zf-nav {
            position: absolute;
            left: 910px;
            top: 250px;

            .selfButton {
                width: 100px;
                height: 100px;
                border-radius: 10px;
                border: 1px solid #dddddd;
                font-size: 20px;
                display: block;
                background: white;
                margin-bottom: 20px;
                -webkit-transition:all 0.5s;
            }

            .selfButton:hover {
                border-radius: 50px;
            }

            .homeButton {
                width: 100px;
                height: 100px;
                border-radius: 10px;
                border: 1px solid #dddddd;
                font-size: 30px;
                display: block;
                background: white;
                -webkit-transition:all 0.5s;
            }

            .homeButton:hover {
                border-radius: 50px;
            }

            .blue {
                background: #337ab7;
                color: white;
                border: white;
                border-radius: 50px;
            }
        }

        .zf-form {
            padding: 20px 100px;

            .piece {
                padding: 20px 28px;

                .answer {
                    padding: 20px 0;

                    .choice {
                        margin-left: 90px;
                    }
                }
            }
        }
    }

}

@-webkit-keyframes hscroll {
    0% { margin-left: 0; }
    27.33% { margin-left: 0; }
    33.33% { margin-left: -500px; }
    60.66% { margin-left: -500px; }
    66.66% { margin-left: -1000px; }
    94.99% { margin-left: -1000px; }
    100% { margin-left: 0; }
}

@-moz-keyframes hscroll {
    0% { margin-left: 0; }
    27.33% { margin-left: 0; }
    33.33% { margin-left: -500px; }
    60.66% { margin-left: -500px; }
    66.66% { margin-left: -1000px; }
    94.99% { margin-left: -1000px; }
    100% { margin-left: 0; }
}

@-ms-keyframes hscroll {
    0% { margin-left: 0; }
    27.33% { margin-left: 0; }
    33.33% { margin-left: -500px; }
    60.66% { margin-left: -500px; }
    66.66% { margin-left: -1000px; }
    94.99% { margin-left: -1000px; }
    100% { margin-left: 0; }
}

.user_like {

    .like_main {

        .like_nav {
            width: 80%;
            margin: 50px auto;
        }

        .like_piece {
            width: 80%;
            margin: 30px auto;
            box-shadow: 1px 1px 3px grey;

            img {
                width: 18%;
                height: 210px;
            }

            .like_piece_constitution {
                display: inline-block;
                vertical-align: top;
                float: right;
                margin: 10px 20px;
                width: 20%;

                span {
                    display: inline-block;
                    margin: 8px 5px;
                }
            }

            .like_piece_label {
                display: inline-block;
                width: 50%;
                vertical-align: top;
            }
        }

        .like_piece:hover {
            box-shadow: 3px 3px 6px grey;
        }
    }

    nav {
        text-align: center;
    }
}
